body {
    background: dodgerblue;
    margin: 50px;
}

div {
    background: orange;
}

.hello {
    background: tomato;
    padding: 5px;
    margin: 20px;
    float: right;
}

h1 {
    font-size: 250%;
    font-family: helvetica;
    text-align: center;
    color: slateblue;
}

ul {
    border: 1px solid black;
    padding: 20px;
    margin: 50px;
    list-style-type: none;
}

#random {
    background: mediumseagreen;
}